@micro-focus:registry=https://btpartifactory.swinfra.net/artifactory/api/npm/company-central-npm/
@ux-aspects:registry=https://btpartifactory.swinfra.net/artifactory/api/npm/company-central-npm/
@iam:registry=https://btpartifactory.swinfra.net/artifactory/api/npm/sec-idm-npm-releases/
strict-ssl=false