/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@netiq/ias-bootstrap/dist/ias-bootstrap.css";
@import "~@ux-aspects/ux-aspects/styles/ux-aspects.css";
@import '~highlight.js/styles/github.css';

.demo-code {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}